<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SpacesAPI">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Endpoints.addCard3DSecureTest"/>
      <class name="Endpoints.addCardTest"/>
      <class name="Endpoints.addCardUsingPinTest"/>
      <class name="Endpoints.ListSalesTest"/>
      <class name="Endpoints.LoginTest"/>
      <class name="Endpoints.SearchAllUsersTest"/>
      <class name="Endpoints.SuperAdminLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
